<?xml version="1.0" encoding="UTF-8"?>
<messageset xmlns="http://alpaca.vdrinkup.net/configuration" type="sql" 
	from="flow:goods_query"
	to="dms:bam/goods_query">
	<in>
		<resultset binding="goodses">
			<element name="ID" binding="id" type="long" />
    	<element name="GOODS_TYPE" binding="goods_type" type="int" />
    	<element name="GOODS_CODE" binding="goods_code" type="string" />
    	<element name="GOODS_NAME" binding="goods_name" type="string" />
    	<element name="GOODS_PRICE" binding="goods_price" type="decimal" />
    	<element name="GOODS_BULK" binding="goods_bulk" type="decimal" />
    	<element name="GOODS_WEIGHT" binding="goods_weight" type="decimal" />
    	<element name="GOODS_UNIT" binding="goods_unit" type="string" />
    	<element name="BARCODE" binding="barcode" type="string" />
    	<element name="ISBN" binding="isbn" type="string" />
    	<element name="PRODUCT_DATE" binding="goods_date" type="string" />
    	<element name="GOODS_DESC" binding="goods_desc" type="string" />
    	<element name="CREATE_TIME" binding="create_time" type="string" />
    	<element name="CREATER" binding="creater" type="string" />
    	<element name="UPDATE_TIME" binding="update_time" type="string" />
    	<element name="UPDATER" binding="updater" type="string" />
   		<element name="YN" binding="yn" type="int" />
		</resultset>
	</in>
	
	<out>
		<select>
			SELECT G.ID, G.GOODS_TYPE, G.GOODS_CODE, G.GOODS_NAME, G.GOODS_PRICE, G.GOODS_BULK, G.GOODS_WEIGHT, G.GOODS_UNIT, 
				    G.BARCODE, G.ISBN, G.PRODUCT_DATE, G.GOODS_DESC, G.CREATE_TIME, G.CREATER, G.UPDATE_TIME, G.UPDATER, G.YN
			FROM T_GOODS G
			WHERE
				YN=0
				<if>
					<mvel>in['id'] != null</mvel>
					AND
					<element name="G.ID" binding="id" type="long" symbol="="/>
				</if>
				<if>
          <mvel>in['GOODS_TYPE'] != null</mvel>
          AND
					<element name="G.GOODS_TYPE" binding="goods_type" type="int" symbol="="/>
        </if>
				<if>
          <mvel>in['GOODS_CODE'] != null</mvel>
          AND
					<element name="G.GOODS_CODE" binding="goods_code" type="string" symbol="="/>
        </if>
        
				<if>
          <mvel>in[''] != null</mvel>
          AND
				<element name="G.ID" binding="id" type="long"/>
        </if>
			)
		</select>
	</out>
</messageset>
