<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

	<property name="CHARSET" value="UTF-8" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}[%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="DEBUG_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${INSTALL_PATH}/logs/uudragon-debug.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoding>${CHARSET}</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${INSTALL_PATH}/logs/uudragon-debug.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>60</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}[%M:%L] - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="INFO_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${INSTALL_PATH}/logs/uudragon-info.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoding>${CHARSET}</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${INSTALL_PATH}/logs/uudragon-info.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
			<maxHistory>60</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}[%M:%L] - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="ERROR_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${INSTALL_PATH}/logs/uudragon-error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${INSTALL_PATH}/logs/uudragon-error.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
			<maxHistory>60</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36}[%M:%L] - %msg%n</pattern>

		</layout>
	</appender>
	
	<logger name="org.eclipse" level="ERROR"/>
	<logger name="org.apache" level="ERROR"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="DEBUG_LOG"/>
		<appender-ref ref="INFO_LOG" /> 
		<appender-ref ref="ERROR_LOG" />
	</root>
</configuration>
