<?xml version="1.0" encoding="UTF-8"?>
<messageset xmlns="http://alpaca.vdrinkup.net/configuration" type="sql" 
	from="flow:shipment_delete"
	to="dms:bam/shipment_delete">
	<in binding="delete_effect_count"/>
	<out>
		<delete>
			DELETE FROM BAM.T_SHIPMENT S
			WHERE 
			YN=0
				<if>
					<mvel>in['id'] != null</mvel>
					AND
					<element name="S.ID" binding="id" type="long" symbol="="/>
				</if>
				<if>
          <mvel>in['ORDERS_NO'] != null</mvel>
          AND
					<element name="S.ORDERS_NO" binding="order_no" type="string" symbol="="/>
        </if>
		</delete>
	</out>
</messageset>
